import React from 'react';
import './{{ fileName }}.style.{{ ext.style }}';

interface IProps {}

interface IState {}

export const {{ componentName.pascalCase }}: React.FC<IProps> = props => {
  {{#useState}}
    const [state, setState] = React.useState<IState>({});

  {{/useState}}
  {{#useEffect}}
    React.useEffect(() => {}, []);

  {{/useEffect}}
  return <div></div>
};